@import "../variables";

.sidebar-item {
	padding: 1.313rem 2.5rem;
	display: flex;
	gap: 2.25rem;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		right: -2px;
		top: 50%;
		transform: translateY(-50%);
		height: 50%;
		width: 4px;
		border-radius: 12px;
		background-color: $grey;
		opacity: 0;
		transition: 0.2s ease-in-out opacity;
	}

	&:hover {
		&::before {
			opacity: 1;
		}

		.sidebar-item__text {
			color: $primary;
		}
	}

	&--active {
		&::before {
			content: "";
			position: absolute;
			right: -2px;
			top: 50%;
			transform: translateY(-50%);
			height: 50%;
			width: 4px;
			border-radius: 12px;
			background-color: $purple;
			opacity: 1;
		}

		.sidebar-item__text {
			color: $primary;
		}

		svg {
			fill: $purple;
		}
	}

	&__icon {
		width: 1.5rem;
		fill: $grey;
	}

	&__text {
		font-size: 1.125rem;
		font-weight: 500;
		color: $grey;
		line-height: 1.688rem;
		transition: 0.2s ease-in-out color;
	}
}